html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  transition: background-color 0.5s ease-out;
}

:root {
  --color-enabled: hsl(100deg 80% 80%);
  --color-disabled: hsl(0deg 80% 80%);
}
