.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 3fr 1fr;
}

.containerNewWindow {
  grid-template-rows: 1fr;
}

.main button {
  width: 50vmin;
  height: 50vmin;
}

.main .icon {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
}

.isActive {
  background-color: var(--color-enabled);
}

.isInactive {
  background-color: var(--color-disabled);
}

.iconButton {
  appearance: none;
  border: none;
  background: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-radius: 10%;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.toggleButton:not(:disabled) {
  cursor: pointer;
}

.icon {
  filter: brightness(0%);
}
