.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 3fr 1fr;
}

.containerNewWindow {
  grid-template-rows: 1fr;
}

.button {
  color: inherit;
  appearance: none;
  border: none;
  background: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-radius: 10%;
  position: relative;
}

.button:hover {
  filter: brightness(85%);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.mainButton {
  width: 50vmin;
  height: 50vmin;
}

.mainButton .icon {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  gap: 1rem;
}

.isActive {
  --color-fg: var(--color-active-fg);
  --color-bg: var(--color-active-bg);
}

.isInactive {
  --color-fg: var(--color-inactive-fg);
  --color-bg: var(--color-inactive-bg);
}

.toggleButton:not(:disabled) {
  cursor: pointer;
}

.swatches {
  opacity: 0;
  transition: opacity 0.25s;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.button:active .swatches,
.button:focus .swatches,
.button:hover .swatches {
  opacity: 1;
}

.swatch {
  width: 10px;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  border-radius: 50%;
}

.swatchInactive {
  background-color: var(--color-inactive-bg);
}

.swatchActive {
  background-color: var(--color-active-bg);
}
