html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  transition: background-color 0.5s ease-out;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

:root {
  --color-active-bg: hsl(100deg 80% 80%);
  --color-active-fg: #000;
  --color-inactive-bg: hsl(0deg 80% 80%);
  --color-inactive-fg: #000;
}

html[data-theme-index="1"] {
  --color-active-fg: #000;
  --color-active-bg: hsl(200deg 80% 80%);
  --color-inactive-fg: #000;
  --color-inactive-bg: hsl(0deg 80% 80%);
}

html[data-theme-index="2"] {
  --color-active-bg: #222;
  --color-active-fg: #999;
  --color-inactive-bg: #000;
  --color-inactive-fg: #222;
}
