.isActive {
  background-color: hsl(100deg 80% 80%);
}

.isInactive {
  background-color: hsl(0deg 80% 80%);
}

.toggleButton {
  width: 40vmin;
  height: 40vmin;
  appearance: none;
  border: none;
  background: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.toggleButton:not(:disabled) {
  cursor: pointer;
}

.indicatorIcon {
  max-width: 100%;
  max-height: 100%;
}
